<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>
  </head>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <%= render partial: 'shared/navbar/nav' %>
      <%= yield %>
    </div> 

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>

    <% if flash %>
      <% flash.each do |key, value| %>
        <script>
          $.bootstrapGrowl("<%= value %>", {
            type: 'success', // (null, 'info', 'danger', 'success')
            align: 'right', // ('left', 'right', or 'center')
            allow_dismiss: true, // If true then will display a cross to close the popup.
            stackup_spacing: 10 // spacing between consecutively stacked growls.
          });
        </script>
      <% end %>
    <% end %>
</body>

</html>
